body {
    margin: 0;

    font-family: 'Roboto', Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background-color: #e7c77c;
}

* {
    margin: 0;
    padding: 0;
}