.login-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    width: 25%;
    height: 620px;
    margin-top: 6%;

    font-family: "OCR A Std", sans-serif;

    background-color: #cdddde;
    border-radius: 5px;
    box-shadow: 0 40px 50px rgba(0, 0, 0, .2);
}

.form-title {
    font-size: 2.2rem;
    font-weight: 800;
    line-height: 1;
    color: #333333;
}

.form-control,
.form-control-terms-of-user {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    width: 90%;
}

.form-control {
    height: 13%;
}

.form-control-terms-of-user {
    height: 10%;
    margin-top: 5px;
}

.username-title,
.email-title,
.password-title,
.confirm-password-title,
.terms-of-user-title {
    margin-left: 5px;
    font-weight: 500;
    line-height: 1.3;
    color: #333333;
}

.username-title,
.email-title,
.password-title,
.confirm-password-title {
    font-size: 1.25rem;
}

.terms-of-user-title {
    font-size: 1rem;
}

.username-error-message,
.email-error-message,
.password-error-message,
.confirm-password-error-message,
.terms-of-user-error-message {
    margin-top: 4px;

    font-size: .8rem;
    font-weight: 400;
    line-height: 1.5;
    color: #f62681;
}

.username-input,
.email-input,
.password-input,
.confirm-password-input {
    width: 100%;
    height: 38px;

    font-family: "OCR A Std", sans-serif;
    font-size: 1.05rem;
    font-weight: 400;
    line-height: 1.5;

    color: #333333;

    box-shadow: none;
    border: none;
    border-radius: 3px;
}

.username-input:hover,
.email-input:hover,
.password-input:hover,
.confirm-password-input:hover {
    box-shadow: 0 5px 8px rgba(0, 0, 0, .2);
}

.terms-of-user-input:hover {
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, .2);
}

.username-input:focus,
.email-input:focus,
.password-input:focus,
.confirm-password-input:focus {
    outline: 2px solid oklch(0.704 0.12 223.504);
}

.input-error {
    box-shadow: 1px 1px 5px 0 #f62681;
}

.email-input:invalid {
    box-shadow: 1px 1px 5px 0 #f62681;
}

.terms-of-user-input {
    margin-right: 5px;
    width: 18px;
    height: 18px;
}

.buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    width: 80%;
    height: 14%;
}

.submit-button-container,
.login-button-container {
    width: 40%;
}

.submit-button,
.login-button {
    width: 100%;
    height: 100%;

    font-family: "OCR A Std", sans-serif;
    font-size: 1.3rem;
    font-weight: 600;
    letter-spacing: .15rem;
    color: #4d4d4d;

    box-shadow: none;
    border: none;
    border-radius: 5px;
}

.login-button:hover,
.submit-button:hover {
    box-shadow: 0 5px 8px rgba(0, 0, 0, .2);
}

.submit-button {
    background-color: #aee8f5;
}

.login-button {
    background-color: #c0ebf3;
}